@import "global.scss";

.article-header {
	margin: 30px auto 40px auto;
}

.article-hero-heading {
	margin: 0 0 5px 0;
}

.article-hero-subtitle {
	padding: 0;
}

.article-meta {
	align-items: center;
}

#share-buttons {
  display: flex;
	margin-left: 20px;

  > div {
		height: 32px;
		width: 22px;

    > svg { height: 16px; fill: #d5d5d5; margin-top: 10px; }
    :hover { cursor: pointer; }

	}
  > div.facebook:hover > svg {fill: #3B5998;}
  > div.twitter:hover > svg {fill: #55ACEE;}
	> div.linkedin:hover > svg {fill: #0077b5;}
	> div.mail:hover > svg {fill: #7D7D7D;}
	> div.facebook > svg {height: 18px; margin-top: 9px;}
	> div.twitter > svg {height: 20px; margin-top: 8px; margin-left: 1px; }
	> div.linkedin > svg {height: 19px; margin-top: 7px; }
	> div.mail > svg {height: 14px; margin-top: 11px;}
}
